@import '~bpk-mixins';

.current-event {

  background-color: $bpk-color-sky-gray;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: $bpk-spacing-sm;
  color: $bpk-color-sky-gray-tint-05;

  &--very-soon {
    background-color: $bpk-color-panjin;
    color: $bpk-color-harbour;
  }

  &--soon {
    background-color: $bpk-color-kolkata;
    color: $bpk-color-bagan;
  }

  &__main {
    align-self: center;
  }

  &__time-and-button {
    align-self: center;
  }

  &__button {
    margin-right: $bpk-spacing-xs;
  }
}
