@import '~bpk-mixins';

.later-event {
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: $bpk-spacing-xs;
  color: $bpk-color-sky-gray-tint-07;
  background-color: $bpk-color-sky-gray-tint-01;

  &__title {
    align-self: center;
  }

  &__time {
    align-self: center;
  }

  &--very-soon {
    background-color: $bpk-color-panjin;
    color: $bpk-color-harbour;
  }

  &--soon {
    background-color: $bpk-color-kolkata;
    color: $bpk-color-bagan;
  }
}
