@import '~bpk-mixins';


.later-event {
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: $bpk-spacing-xs;
  color: $bpk-color-sky-gray-tint-04;
  background-color: $bpk-color-sky-gray;

  &__title {
    align-self: center;
  }

  &__time {
    align-self: center;
  }
}
