@import '~bpk-mixins';

@mixin container {
}

.App {

  &__main {
    background-color: $bpk-color-gray-900;
    padding: $bpk-spacing-sm;
    max-width: $bpk-breakpoint-mobile;
    margin: 0 auto;
  }
}
