@import '~bpk-mixins';

.settings {
  padding: $bpk-spacing-sm;
  max-width: $bpk-breakpoint-mobile;
  margin: 0 auto;

  &__row {
    display: flex;
    justify-content: center;
    margin-bottom: $bpk-spacing-sm;
  }
}
